################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/.vs
/src/packages

/src/FastRawSelector/bin/Debug
/src/FastRawSelector/bin/Release
/src/FastRawSelector/obj
