<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="3.3.3" targetFramework="net462" developmentDependency="true" />
  <package id="Fody" version="4.2.1" targetFramework="net462" developmentDependency="true" />
  <package id="log4net" version="2.0.15" targetFramework="net462" />
  <package id="MahApps.Metro.IconPacks.BoxIcons" version="4.11.0" targetFramework="net462" />
  <package id="MaterialDesignColors" version="2.1.1" targetFramework="net462" />
  <package id="MaterialDesignThemes" version="4.7.1" targetFramework="net462" />
  <package id="MetadataExtractor" version="2.7.2" targetFramework="net462" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.39" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net462" />
  <package id="WindowsAPICodePack-Core" version="1.1.1" targetFramework="net462" />
  <package id="WindowsAPICodePack-Shell" version="1.1.1" targetFramework="net462" />
  <package id="XmpCore" version="6.1.10.1" targetFramework="net462" />
  <package id="YamlDotNet" version="13.0.0" targetFramework="net462" />
</packages>